<section id="experience" class="py-16 bg-gray-800">
    <div class="container mx-auto text-white">
        <h2
            id="Experience"
            class="text-3xl font-bold text-orange-500 mb-8 text-center md:text-left"
        >
            My Experience
        </h2>

        <div class="mb-8">
            <h4 class="text-xl font-semibold text-orange-500 mb-4">
                Professional Experience
            </h4>
            <ul class="list-disc pl-6">
                <li class="mb-2">
                    Web Development and Designing Intern at Oasis Infobytes (1
                    Month)
                </li>
                <li class="mb-2">
                    Co-Founder, Lead Content Writer and Tech Team Member at
                    Xounity (March 2024 - Present)
                </li>
            </ul>
        </div>

        <div>
            <h4 class="text-xl font-semibold text-orange-500 mb-4">
                Learning Experience
            </h4>
            <div
                class="mb-4 flex flex-wrap gap-4 items-center justify-center md:justify-start"
            >
                <img
                    width="48"
                    height="48"
                    src="https://img.icons8.com/color/48/000000/html-5--v1.png"
                    alt="html-5--v1"
                />
                <img
                    width="48"
                    height="48"
                    src="https://img.icons8.com/color/48/000000/css3.png"
                    alt="css3"
                />
                <img
                    width="48"
                    height="48"
                    src="https://img.icons8.com/color/48/000000/javascript--v1.png"
                    alt="javascript--v1"
                />
                <img
                    width="48"
                    height="48"
                    src="https://img.icons8.com/color/48/000000/c-sharp-logo.png"
                    alt="c-sharp-logo"
                />
                <img
                    width="48"
                    height="48"
                    src="https://img.icons8.com/color/48/000000/c-programming.png"
                    alt="c-programming"
                />
                <img
                    width="48"
                    height="48"
                    src="https://godotengine.org/assets/press/icon_color.png"
                    alt="godot-engine"
                />
                <img
                    width="48"
                    height="48"
                    src="https://img.icons8.com/color/48/000000/python.png"
                    alt="python"
                />
            </div>
            <ul class="list-disc pl-6">
                <li class="mb-2">
                    <strong class="font-semibold">PassGen:</strong> A CLI based
                    unique password generator built in C
                </li>
                <li class="mb-2">
                    <strong class="font-semibold">MarksheetGenSite:</strong> A
                    web app that generates marksheet, built using HTML, CSS and
                    JS
                </li>
                <li class="mb-2">
                    <strong class="font-semibold">Fursistant:</strong> A voice
                    assistant web app created using HTML, CSS and Alan AI
                </li>
                <li class="mb-2">
                    <strong class="font-semibold"
                        >FYT Inventory Management System:</strong
                    >
                    A windows form application built using C#, .NET CORE and SQL
                    Server that utilizes CRUD operations
                </li>
                <li class="mb-2">
                    Contributed to two open source projects on github in 2023 by
                    helping them improve their documentation
                </li>
                <li class="mb-2">
                    Created a landing page for a site using HTML, CSS and JS
                    during my internship at Oasis Infobytes
                </li>
                <li class="mb-2">
                    Created a responsive temperature converter web app using
                    HTML, CSS, JS during my internship at Oasis Infobytes
                </li>
                <li class="mb-2">
                    Programming Fundamentals Lab Tasks in C language (CLI based
                    apps)
                </li>
                <li class="mb-2">
                    OOP Lab Tasks in C# language (CLI and Windows Form apps)
                </li>
                <li class="mb-2">
                    <strong class="font-semibold">aQracker:</strong> A python
                    script to crack password protective archives
                </li>
            </ul>
        </div>
    </div>
</section>
