<section
    id="introduction"
    class="py-16 flex flex-col items-center justify-center text-center"
>
    <h2 id="Introduction" class="text-3xl font-bold text-orange-500 mb-8">
        Introduction
    </h2>

    <div class="name-title mb-6">
        <h1 id="name" class="text-4xl font-semibold text-white">M Furqan K.</h1>
        <p id="title" class="text-lg text-gray-400">
            Software Engineering Student - SMI University
        </p>
    </div>

    <div class="email mb-4">
        <h4 class="text-lg font-semibold text-orange-500">Email</h4>
        <a
            href="mailto:business.furqanhun@gmail.com"
            class="text-white hover:underline"
            >business.furqanhun@gmail.com</a
        >
    </div>

    <div class="socialmedia">
        <h4 class="text-lg font-semibold text-orange-500 mb-2">Social Media</h4>
        <div class="flex justify-center space-x-4">
            <a
                href="https://www.linkedin.com/in/FurqanHun/"
                target="_blank"
                class="hover:scale-110"
            >
                <img
                    src="../Assets/linkedin.png"
                    alt="linkedin"
                    class="w-6 h-6"
                    id="linkedin"
                />
            </a>
            <a
                href="https://github.com/FurqanHun"
                target="_blank"
                class="hover:scale-110"
            >
                <img
                    src="../Assets/github_fluid.png"
                    alt="github"
                    class="w-6 h-6"
                />
            </a>
            <a
                href="https://www.instagram.com/furqan_hi_hun/"
                target="_blank"
                class="hover:scale-110"
            >
                <img
                    src="../Assets/instagram.png"
                    alt="instagram"
                    class="w-6 h-6"
                />
            </a>
        </div>
    </div>
</section>
