body{
    background-color: #000000 !important;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff !important;
    text-align: left;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
section #introduction, #skills, #experience, #education{
    height: 100vh !important;
}
#introduction {
    position: relative;
    height: 100vh;
    
  }
  #education{
    position: relative;
    height: 100vh;
    margin-top: 20rem;
    height: 100vh !important;
    width: 100vw !important;
  }
  
  #introduction::before {
    content: "";
    position: absolute;
    top: 4rem;
    left: 8rem;
    width: 200px;
    height: 400px;
    background-image: url('https://furqanhun.github.io/portfolio/Assets/furqanhun_profilepic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: 5px solid #FF5733;
  }
  .name-title{
    top: 4rem;
    margin-left: 50%;
    margin-bottom: 30%;
    position: relative;
    text-align: center;
  }
  
#navhead{
    margin-right: 39%;
    margin-left: 1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}
#navhead:hover{
    color: orangered !important;
}
#navbar{
    margin-top: 1%;
}

#navbar a{
    color: #ffffff;
    text-decoration: none;
    text-align: left;
    box-sizing: border-box;
}
.active{
    color: orangered !important;
}
#navbar a:hover{
    color: orangered !important;
    text-decoration: none;
    text-align: left;
    box-sizing: border-box;
}
#goToTopButton {
    position: fixed;
    bottom: 20px;
    right: 2rem;
    z-index: 300;
}
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-left: 20px;
}
.container div {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: -30px;
}
#Introduction, #Skills, #Experience, #Education , #Certificates, #Projects{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: 75%;
    color: orangered !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: 500;
  }
#Introduction, #Certificates, #Projects{
    font-weight: 100 !important;
}
#Skills{
    margin-top: 9rem;
}
  
#name {
    margin-bottom: 0;
}
  
#title {
    margin-top: 0;
}
.email{
    margin-left: 57%;
    margin-top: -8%;
}
.socialmedia{
    margin-left: 57%;
}
.socials:hover{
    transform: scale(1.1);
}
.blur {
    filter: blur(5px);
    /* Add a transition for the filter property with a duration of 1s and a custom easing function */
  transition: filter 1s cubic-bezier(0.5, 0, 0.5, 20);
}

.skills {
    /* add some margin and padding for spacing */
    margin: 20px;
    padding: 10px;
    /* add a border for visual effect */
    border: 2px solid black;
    /* center the inline-block elements horizontally */
    text-align: center;
}

  .skills {
    /* add some margin and padding for spacing */
    margin: 20px;
    margin-top: 15%;
    padding: 10px;
    /* add a border for visual effect */
    border: 2px solid black;
    /* center the inline-block elements horizontally */
    text-align: center;
  }

.skills span {
    /* make the span elements inline-block */
    display: inline-block;
    /* add some margin and padding for spacing */
    margin: 10px;
    padding: 5px;
    /* add a border for visual effect */
    border: 1px solid gray;
    /* align them vertically in the middle */
    vertical-align: middle;
}

.skills span img,.skills span h5 {
    /* make the img and h5 elements block */
    display: block;
}
  .skills span img {
    /* center the image horizontally */
    margin: 0 auto;
    /* add some margin and padding for spacing */
    margin-bottom: 5px;
    padding: 1px;
}
.skills span h5 {
    /* center the text horizontally */
    text-align: center;
}
.skills span:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px 0 orangered;
}
.exp-sub-head{
    font-size: 20px;
    font-weight: 500;
    margin-top: 3%;
    margin-bottom: 2rem;
    margin-left: 5rem;
}
.exp-para{
    font-size: 15px;
    font-weight: 400;
    margin-left: 5rem;
}
#exp-check{
    font-style: italic;
    font-size: 15px;
    margin-top: 2rem;
}
#exp-check a{
    text-decoration: none;
    color: orangered !important;
}
#exp-check a:hover{
    font-size: 16px;
    color: aqua !important;
}
.edu-para{
    font-size: 15px;
    font-weight: 400;
    margin-left: 5rem;
    margin-top: 10rem;
    
}
#main-card {
    background-color: #000000 !important;
    border: 1px solid #ffffff !important;
    border-radius: 10px;
    margin-top: 2rem;
    width: 85%;
    align-items: center;
    justify-content: center;
    margin: 2rem auto; /* Add margin: 2rem auto; to center the element horizontally */
  }
#sub-card{
    background-color: #000000 !important;
    border: 1px solid #ffffff !important;
    border-color: #FF5733 !important;
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 0.5rem;
}
.card-title{
    font-size: 20px;
    font-weight: 500;
    color: orangered !important;
}
.card-text{
    font-size: 15px;
    font-weight: 400;
    color: #ffffff !important;
}
#card-btn{
    border-radius: 5px;
    background-color: #ffffff !important;
    color: #000000 !important;
    font-size: 15px;
    font-weight: 400;
}
#card-btn:hover{
    background-color: #FF5733 !important;
    color: #ffffff !important;
}
footer{
    margin-top: 1rem;
}
.img-fluid{
    justify-content: center;
    width: 800px;
    height: auto;
    margin-top: -5rem;
    margin-left: 15rem;
    filter: drop-shadow(0 0 0.75rem #FF5733);
}
.credits{
    margin-left: 1rem;
    margin-right: 1rem;
    background-image: url('https://furqanhun.github.io/portfolio/Assets/strawhat.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 300px;
    background-position: center;
    opacity: 0.5;
    box-shadow: 0px 0px 10px 0px rgba(255, 145, 0, 0.75);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 0.75);
    text-shadow: #000000;

}
.credits h1{
    margin-left: 4rem;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 800 !important;
    opacity: 100% !important;
}
.credits a{
    text-decoration: none;
    color: orangered !important;
}
.credits a:hover{
    color: aqua !important;
}
.strawhat{
    justify-content: center;
    max-width: 400px;
    height: auto;
   
    margin-left: 5rem;
   
    filter: drop-shadow(0 0 0.75rem #FF5733);
}
@media screen and (max-width: 1260px){
    #pc-nav{
        display: none !important;
    }
    #mobile-nav{
        display: block !important; 
        background-color: #363636 !important;
        padding-right: 15px;
        text-align: center !important;
        
    }
    #mobile-nav a{
        text-align: center !important;
    }
    #mobile-nav a:hover{
        color: orangered !important;
    }
    .img-fluid{
        justify-content: center;
        width: 600px;
        height: auto;
        margin-top: -5rem;
        margin-left: 15rem;
        filter: drop-shadow(0 0 0.75rem #FF5733);
}

@media screen and (max-width: 800px){
    #pc-nav{
        display: none !important;
    }
    #mobile-nav{
        display: block !important; 
        background-color: #363636 !important;
        padding-right: 15px;
        text-align: center !important;
        
    }
    #mobile-nav a{
        text-align: center !important;
    }
    h1{
        font-size: 30px !important;
    }
    h2{
        font-size: 25px !important;
    }
    h3{
        font-size: 20px !important;
    }
    h4{
        font-size: 15px !important;
    }
    h5{
        font-size: 10px !important;
    }
    h6{
        font-size: 5px !important;
    }
    #introduction::before {
    content: "";
    position: absolute;
    top: 4rem;
    left: 6rem;
    width: 200px;
    height: 400px;
    background-image: url('https://github.com/FurqanHun/portfolio/blob/830c8139b6e7c394fa4bfa6535e5bdffdbefb5e9/Assets/furqanhun_profilepic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: 5px solid #FF5733;
  }
    .email{
        margin-left: 50%;
        margin-top: -1rem;
    }
    .socialmedia{
        margin-left: 50%;
        margin-top: 1rem;
    }
    #experience{
        margin-left: -2rem;
        font-size: small;
    }
    #exp-check{
        font-size: 10px;
        margin-top: -0.1rem;
    }
    #education{
        margin-left: -2rem;
        font-size: small;
    }
    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin-left: 20px;
    }
    .container div {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-top: -30px;
    }
    #Introduction, #Skills, #Experience, #Education , #Certificates, #Projects{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 20px;
        margin-left: 75%;
        color: orangered !important;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 40px;
        font-weight: 500;
      }
    #Introduction, #Certificates, #Projects{
        font-weight: 100 !important;
    }
    #Skills{
        margin-top: 9rem;
    }
    #main-card{
        margin-left: 1rem;
    }
    #sub-card{
        max-width: 12.5rem !important;
        
    }
    #card-btn{
        max-width: 7rem !important;
    }
    .card-title{
        font-size: 12px !important;
    }
    .card-text{
        font-size: 9px !important;
        display: none;
    }
    #gotoTopButton{
        position: fixed !important;
        bottom: 10px;
        right: 10px;
        z-index: 100 !important;
    }
    .card{
        z-index: 1 !important;
    }
    .img-fluid{
        justify-content: center;
        width: 200px;
        height: auto;
        margin-top: -10rem;
        margin-left: 5rem;
        margin-right: 5rem;
        margin-bottom: -3rem;
        filter: drop-shadow(0 0 0.75rem #FF5733);
    }
    }
@media screen and (max-width: 768px) {
    
    #name{
        margin-left: 2rem;
        font-size: 20px !important;
        font-weight: 900;
    }
    #title{
        margin-left: 2rem;
        font-size: 13px !important;
        font-weight: 400;
    }
    #introduction::before {
    content: "";
    position: absolute;
    top: 4rem;
    left: 5rem;
    width: 200px;
    height: 400px;
    background-image: url('/Assets/furqanhun_profilepic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: 5px solid #FF5733;
  }
    #experince p{
        font-size: 10px !important;
    }
    .email h4{
        font-size: 15px !important;
    }
    .email a{
        font-size: 12px !important;
    }
    .socialmedia h4{
        font-size: 15px !important;
    }
    .socialmedia a img{
        width: 20px !important;
        height: auto !important;
    }
    #introduction{
        margin-bottom: 0.8rem;
    }
    .email{
        margin-left: 50%;
        margin-top: 40%;
    }
    .img-fluid{
        justify-content: center;
        width: 200px;
        height: auto;
        margin-top: -17rem;
        margin-right: 5rem;
        margin-left: 5rem;
        margin-bottom: -5rem;
        filter: drop-shadow(0 0 0.75rem #FF5733);
    }
}
@media screen and (max-width: 650px) {
    #experience{
        margin-left: -3rem;
        font-size: small;
    }
    .exp-para{
        font-size: 10px !important;
    }
    #exp-check{
        font-size: 10px;
        margin-top: 8rem;
    }
    .edu-para{
        font-size: 10px !important;
    } 
    footer{
        font-size: 10px !important;
    }
    .img-fluid{
        justify-content: center;
        width: 200px;
        height: auto;
        margin-top: -19rem;
        margin-left: 5rem;
        margin-bottom: -7rem;
        filter: drop-shadow(0 0 0.75rem #FF5733);
    }
}
@media screen and (max-width: 576px) {
    #experience, #education {
      margin-top: 5rem;
      margin-bottom: 2rem;
      position: relative;
    z-index: 1;
    }
    #Introduction, #Skills, #Experience, #Education , #Certificates, #Projects{
        font-size: 25px !important;
        margin-left:65%
    }
    #Education{
        margin-top: 5rem;
    }
    #footer {
      margin-top: 1rem;
      z-index: 1;
    }
    #introduction::before {
    content: "";
    position: absolute;
    top: 4rem;
    left: 4rem;
    width: 200px;
    height: 400px;
    background-image: url('/Assets/furqanhun_profilepic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: 5px solid #FF5733;
  }
  }
@media screen and (max-width: 550px) {
    #Introduction, #Skills, #Experience, #Education , #Certificates, #Projects{
        font-size: 25px !important;
        margin-left:65%
    }
    #experience{
        margin-left: -3rem;
        font-size: small;
    }
    .exp-para{
        font-size: 10px !important;
    }
    #exp-check{
        font-size: 10px;
        margin-top: 8rem;
    }
    .edu-para{
        font-size: 10px !important;
    } 
    footer{
        font-size: 10px !important;
    }
    #introduction::before {
    content: "";
    position: absolute;
    top: 4rem;
    left: 3rem;
    width: 200px;
    height: 400px;
    background-image: url('/Assets/furqanhun_profilepic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: 5px solid #FF5733;
  }
    
}
@media screen and (max-width: 527px) {

    #introduction{
        margin-bottom: 0.8rem;
    }
    #introduction::before {
    content: "";
    position: absolute;
    top: 4rem;
    left: 2rem;
    width: 200px;
    height: 400px;
    background-image: url('/Assets/furqanhun_profilepic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: 5px solid #FF5733;
  }
    
}
@media screen and (max-width: 497px) {
 
    .email, .socialmedia{
    margin-left: 14rem;
    }
    #title, #name{
        margin-left: 2rem;
        margin-right: 1rem;
    }
    #experience, #education{
        margin-left: -4rem;
        margin-right: 1rem;
    }
    #introduction{
        margin-bottom: 0.8rem;
    }
    #introduction::before {
    content: "";
    position: absolute;
    top: 4rem;
    left: 1rem;
    width: 200px;
    height: 400px;
    background-image: url('/Assets/furqanhun_profilepic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: 5px solid #FF5733;
  }
    
}

@media screen and (max-width: 480px) {
    .email, .socialmedia{
        margin-left: 12rem;
        }
        #experience{
            margin-right: 1rem;
        }
        #introduction{
            margin-bottom: 0.8rem;
        }
        #introduction::before {
    content: "";
    position: absolute;
    top: 4rem;
    left: 0.5rem;
    width: 200px;
    height: 400px;
    background-image: url('/Assets/furqanhun_profilepic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: 5px solid #FF5733;
  }
    
}
@media screen and (max-width: 450px) {
    #Introduction, #Skills, #Experience, #Education , #Certificates, #Projects{
        font-size: 25px !important;
        margin-left:60%
    }
    #name, #title{
        margin-left: 1rem;
        margin-right: 1rem;
    }
   
    #name{
        margin-top: 3rem;
        font-size: 15px !important;
    }
    #title{
        font-size: 10px !important;
    }
    .email, .socialmedia{
        margin-left: 10rem;
        }
    .email{
        margin-left: 50%;
            margin-top: 60%;
    }
        #experience{
            margin-right: 1rem;
        }
    #introduction{
        margin-bottom: 0.8rem;
    }
    #introduction::before {
    content: "";
    position: absolute;
    top: 4rem;
    left: 0.5rem;
    width: 190px;
    height: 380px;
    background-image: url('/Assets/furqanhun_profilepic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: 5px solid #FF5733;
  }
}

@media screen and (max-width: 400px) {
    #Introduction, #Skills, #Experience, #Education , #Certificates, #Projects{
        font-size: 25px !important;
        margin-left:55%
    }
    #introduction{
        margin-bottom: 0.5rem;
    }
    
    #name{
        margin-top: 3rem;
        font-size: 15px !important;
    }
    #title{
        font-size: 10px !important;
    }
    .email, .socialmedia{
        margin-left: 10rem;
        }
    .email{
            margin-left: 50%;
            margin-top: 60%;
    }
        #experience{
            margin-right: 1rem;
        }

    .name-title{
        margin-left: 45%;
    }
    #introduction::before {
    content: "";
    position: absolute;
    top: 4rem;
    left: 0.5rem;
    width: 180px;
    height: 360px;
    background-image: url('/Assets/furqanhun_profilepic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: 5px solid #FF5733;
    z-index: 0;
  }
}
@media screen and (max-width: 380px) {
    #Introduction, #Skills,#Experience, #Education , #Projects{
        font-size: 24px !important;
        margin-left:60% !important;
    }
    #Certificates{
        font-size: 24px !important;
        margin-left:50% !important;
    }
    #exp-check{
        font-size: 10px;
        margin-top: 4rem;
    }
    #experience img{
        height: 30px;
        width: 30px;
    }
    #introduction{
        margin-bottom: 0.5rem;
    }
    #experience h4{
        font-size: 13px !important;
        
    }
    #name{
        margin-top: 3rem;
        font-size: 15px !important;
    }
    #title{
        font-size: 10px !important;
    }
    .email, .socialmedia{
        margin-left: 9rem;
        }
    .email{
        margin-left: 50%;
        margin-top: 90%;
    }
        #experience{
            margin-right: 1rem;
        }

    
}

@media screen and (max-width: 350px) {
    #Introduction, #Skills,#Experience, #Education , #Projects{
        font-size: 24px !important;
        margin-left:55% !important;
    }
    #Certificates{
        font-size: 24px !important;
        margin-left:45% !important;
    }
    #exp-check{
        font-size: 10px;
        margin-top: 4rem;
    }
    #experience img{
        height: 30px;
        width: 30px;
    }
    #experience h4{
        font-size: 13px !important;
        
    }
    #name{
        margin-top: 3rem;
        margin-left: 1rem !important;
        font-size: 15px !important;
    }
    #title{
        font-size: 10px !important;
        margin-left: 1rem !important;
    }
    .email, .socialmedia{
        margin-left: 9rem;
        }
    .email{
        margin-left: 50%;
        margin-top: 90%;
    }
        #experience{
            margin-right: 1rem;
        }
   
    #introduction{
        margin-bottom: 0.5rem;
    }
    
}
@media screen and (max-width: 300px) {
    .accessable{
        display: none !important;
    }
    .not-accessable{
        display: block !important;
    }
    
}

/* 850 and onward width  */
@media screen and (max-width:1199px){
    .email, .socialmedia{
        margin-left: 50%;
    }
}
}